@import "~bootstrap/scss/bootstrap";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";


body {
  background-image: url("/images/riding-wheelchair.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  & > .container {
    padding-top: 4rem;
    padding-bottom: 5rem;
    overflow-y: scroll;
  }
  color: $gray-800;
}

nav {
  @extend .navbar-dark;
  @extend .bg-dark;

  opacity: 0.8;
}


$color-sitter: lighten($blue, 40%);
$color-doctor: lighten($teal, 40%);

$user-colors: (
  "sitter": $color-sitter,
  "doctor": $color-doctor
);

$color-drug: lighten($pink, 30%);
$color-shot: lighten($cyan, 30%);
$color-poop: lighten($yellow, 20%);
$color-accident: lighten($red, 30%);

$incident-colors: (
  "drug": $color-drug,
  "shot": $color-shot,
  "poop": $color-poop,
  "accident": $color-accident
);

@each $key, $color in $user-colors {
  .bg-#{$key} {
    color: darken($color, 50%);
    background-color: $color;

    a {
      color: darken($color, 50%);
    }
  }
}

@each $key, $color in $incident-colors {
  .bg-#{$key} {
    color: darken($color, 50%);
    background-color: $color;

    a {
      color: darken($color, 50%);
    }
  }
}
