@import "~bootstrap/scss/bootstrap";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";


body {
  background-image: url("/images/riding-wheelchair.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  & > .container {
    padding-top: 4rem;
    padding-bottom: 5rem;
    overflow-y: scroll;
  }
  color: $gray-800;
}

nav {
  @extend .navbar-dark;
  @extend .bg-dark;

  opacity: 0.8;
}


$color-helper: lighten($blue, 40%);
$color-doctor: lighten($teal, 40%);

@each $key, $color in ("helper": $color-helper, "doctor": $color-doctor) {
  .bg-#{$key} {
    color: darken($color, 70%);
    background-color: $color;

    a {
      color: darken($color, 50%);
    }
  }
}
