@import "~bootstrap/scss/bootstrap";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";


body {
  padding-top: 4rem;
  padding-bottom: 3rem;
  min-height: 100%;
  background-image: url("/images/riding-wheelchair.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  @extend .navbar-dark;
  @extend .bg-dark;

  opacity: 0.8;
}
